<IfModule mod_headers.c>
  <FilesMatch "apple-app-site-association$">
    Header set Content-Type "application/json"
  </FilesMatch>
  <FilesMatch "assetlinks\.json$">
    Header set Content-Type "application/json"
  </FilesMatch>
</IfModule>
